{{>/layout/header}}
<div class="main-container">
    <div style="margin-left: 50px; margin-right: 50px;">
        <div style="display: flex; flex-direction: row;  margin: 20px; ">
            <div style="margin-right: 20px;">이력서 공개여부</div>
            <input type="checkbox" id="public" name="visibility" value="public">
            <label for="public">공개</label>

            <input type="checkbox" id="private" name="visibility" value="private" style="margin-left: 50px;">
            <label for="private">비공개</label>
        </div>
        <br>
        <div style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: column;">
                <div class="box"
                    style="width: 20%; height: 200px; width: 200px; margin-bottom: 20px; border-radius: 50%;">

                </div>
                <input type="file" name="id" style="margin-left: 70px;">
            </div>
            <div>
                <div>
                    <div class="box" style="margin-left: 80px;">
                        <div style="display: flex; flex-direction: row; ">
                            <textarea class="input-box" id="myTextarea" rows="1" maxlength="200"
                                placeholder="이력서의 제목을 입력해주세요" style="height: 30px; width: 600px; resize: none;"
                                onkeydown="preventEnterKey(event)"></textarea>
                        </div>
                        <hr class="line" style="margin: 0;">
                        <br>
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <textarea class="input-box" id="myTextarea" rows="4" maxlength="200"
                                placeholder="간단한 자기소개글을 입력해주세요."
                                style="margin:0; width: 600px; height: 120px; resize: none;"
                                onkeydown="preventEnterKey(event)"></textarea>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="font-weight: bold; font-size: 30px; margin-left: 80px; margin-top: 50px;">Profile</div>
    <hr class="line" style="margin-top: 0px; margin-left: 80px; margin-right: 80px;">
    <br>


    <!-- 프로필 안 첫번째 박스 -->
    <div style="display: flex; margin-left: 100px;">

        <!-- 프로필 안 경력박스 -->
        <div style="display: flex; flex-direction: column; margin-left: 0;">
            <div style="display: flex; justify-content:space-between ;  align-items: center;">
                <div style="font-weight: bold; font-size: 20px;">
                    경력
                </div>

                <select class="box" data-bs-toggle="dropdown" style="width: 100px; margin-left: 30px;">
                    <ul>
                        <li>
                            <option value="선택">선택</option>
                        </li>
                        <li>
                            <option value="신입">신입</option>
                        </li>
                        <li>
                            <option value="1~2년">1~2년</option>
                        </li>
                        <li>
                            <option value="3~5년">3~5년</option>
                        </li>
                        <li>
                            <option value="6년이상">6년 이상</option>
                        </li>
                    </ul>
                </select>
            </div>

            <hr class="line" style="border: 10px;">

            <!--원티드박스-->
            <div style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px; margin-left: 0;">
                <div class="box-invisible"
                    style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        <input class="input-box" type="text" placeholder="네이버" style="width: 100px; margin-left: 0;">
                        <input type="month" style="border: transparent;">
                        <div style="margin-left: 10px; margin-right: 10px; margin-top: 10px"> ~ </div>
                        <input type="month" style="border: transparent;">
                    </div>
                </div>
                <div class="box-invisible"
                    style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        <input class="input-box" type="text" placeholder="카카오톡" style="width: 100px; margin-left: 0;">
                        <input type="month" style="border: transparent;">
                        <div style="margin-left: 10px; margin-right: 10px; margin-top: 10px"> ~ </div>
                        <input type="month" style="border: transparent;">
                    </div>
                </div>
                <div class="box-invisible"
                    style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        <input class="input-smallbox" type="text" placeholder="라쿠배몰두센">
                        <input type="month" style="border: transparent;">
                        <div style="margin-left: 10px; margin-right: 10px; "> ~ </div>
                        <input type="month" style="border: transparent;">
                    </div>
                </div>
            </div>
        </div>



        <!--수상이력박스-->
        <div class="box-invisible" style="display: flex; flex-direction: column;">
            <div style=" display: flex; justify-content:space-between ;  align-items: center;">
                <div style="font-weight: bold; font-size: 20px;">
                    수상이력
                </div>
            </div>

            <div class="box-invisible"
                style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px; margin-left: 0;">
                <div class="box-invisible"
                    style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        <input class="input-smallbox" type="text" placeholder="해커대회 금상" style="width: 200px;">
                        <input type="month" style="border: transparent;">
                    </div>
                </div>
                <div class="box-invisible"
                    style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        <input class="input-smallbox" type="text" placeholder="창업대회 대상" style="width: 200px;">
                        <input type="month" style="border: transparent;">
                    </div>
                </div>
                <div class="box-invisible"
                    style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        <input class="input-smallbox" type="text" placeholder="창업망함" style="width: 200px;">
                        <input type="month" style="border: transparent;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; margin-left: 100px;">

        <!-- 프로필 안 학력박스 -->
        <div style="display: flex; flex-direction: column; margin-left: 0;">
            <div style=" display: flex; justify-content:space-between ;  align-items: center;">
                <div style="font-weight: bold; font-size: 20px;">
                    학력
                </div>
                <br><br><br>

            </div>

            <!--학력세부내용작성박스 -->

            <div style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px; margin-left: 0;">
                <div style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        <input class="input-box" style="width: 100px;" type="text" placeholder="ㅇㅇ대학교">
                        <input class="input-box" style="width: 100px;" type="text" placeholder="xx학과">

                        <input type="month" style="border: transparent;">
                        <select class="box" data-bs-toggle="dropdown" style="width: 100px; margin-left: 30px;">
                            <ul>
                                <li>
                                    <option value="선택">선택</option>
                                </li>
                                <li>
                                    <option value="재학">재학</option>
                                </li>
                                <li>
                                    <option value="졸업">졸업</option>
                                </li>

                            </ul>
                        </select>
                    </div>
                </div>
            </div>
        </div>



        <!-- 생년월일-->
        <div class="box-invisible" style="display: flex; flex-direction: column; margin-left: 80px;">

            <div style="font-weight: bold; font-size: 20px;">
                나이
            </div>


            <div style="display: flex; flex-direction: column; margin-left: 0; margin-top: 15px; margin-left: 0;">
                <div style=" display: flex; flex-direction: column; justify-content: space-between;">
                    <div style=" display: flex; flex-direction: row;">
                        만 작성년도 - user.birth 세
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div style="display: flex; margin-left: 100px; margin-top: 30px" ;>
        <div style=" font-weight: bold; font-size: 20px; ">기술스택</div>

        <div style=" display: flex; flex-direction: column; margin-top: 30px;">
            <br>
            <div style=" display: flex; flex-direction: row;">

                <input type="checkbox">
                <label>자바</label>

                <input type="checkbox" style="margin-left: 30px;">
                <label>자바</label>

                <input type="checkbox" style="margin-left: 30px;">
                <label>자바</label>

                <input type="checkbox" style="margin-left: 30px;">
                <label>자바</label>

                <input type="checkbox" style="margin-left: 30px;">
                <label>자바</label>


                <input type="checkbox" style="margin-left: 30px;">
                <label>자바</label>

                <input type="checkbox" style="margin-left: 30px;">
                <label>자바</label>

                <input type="checkbox" style="margin-left: 30px;">
                <label>자바</label>
            </div>

        </div>
    </div>

    <div style="display: flex; flex-direction: column; margin-top: 30px;">
        <div style="font-weight: bold; font-size: 20px;  margin-left: 100px;">자기소개서</div>

        <textarea id="myTextarea" class="box" rows="10" placeholder="자기를 소개할 수 있는 글을 작성해주세요. ex) 성장과정, 지원동기 등 "
            style="width: 1000px; margin-top: 20px; margin-bottom: 20px;"></textarea>
    </div>

    <div style="display: flex; flex-direction: column; margin-top: 30px; margin-left: 100px;">
        <div style="font-weight: bold; font-size: 20px;"> Github, 포트폴리오 링크</div>
        <div style="display: flex; flex-direction: row; align-items: center; margin-top: 15px;">
            <input type="text" style="border: transparent; font-size: 15px;width: 700px;" contenteditable="true"
                placeholder="link를 입력하세요">
        </div>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 50px;">
        <button class="button">작성완료</button>

    </div>

</div>
</div>
</body>

{{>/layout/footer}}