{{>/layout/header}}

<div class="main-container" style="display: flex; flex-direction: column;">
    <div class="box" style="width: 700px; margin-top: 80px;">
        <div style="text-align: center; margin-top: 50px;">
            <img src="/images/베이직2.jpg" style="border-radius: 50%;">
            <br>
            <input type="file" name="id" style="margin-left: 70px;" />
            <h2>최제인담당자님, 안녕하세요.</h2>
        </div>
        <form action="#">
            <div class="body-container">
                <div style="margin-left: 50px; margin-right: 100px;">
                    <br>
                    <div>계정 관리</div>
                    <div style="color: #7F7F7F;">서비스에서 사용하는 내 계정 정보를 관리할 수 있습니다.</div>
                    <br>
                    <div class="body-text">
                        <div class="body-head">
                            이메일
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="baronjae@gmail.com">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            회사명
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="그린">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            담당자명
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="진성훈">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            담당자 연락처
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="010-9471-9693">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                    <div class="body-text">
                        <div class="body-head">
                            회사주소
                        </div>
                        <div class="body-main">
                            <input class="input-box" contenteditable="true" placeholder="부산 진구 중앙대로 688, 305호">
                            </input>
                        </div>
                    </div>
                    <hr class="line" style="margin-top: 0px;">
                </div>
                <br>
                <br>
                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="button">수정완료</button>
                </div>
            </div>
        </form>
        <br>
    </div>

    <br>
    <div class="box" style="width: 700px; margin-bottom: 50px;">
        <div style="margin-left: 50px; margin-top: 30px;">개인 정보 보호</div>
        <br>
        <div style="margin-left: 50px; color: #7F7F7F;">서비스에서 사용하는 내 계정 정보를 관리할 수 있습니다.</div>
        <br>
        <br>
        <div style="display: flex; justify-content: center;">
            <a href="/loginForm">
                <button class="button">탈퇴하기</button>
            </a>

        </div>
    </div>
    <br>
</div>
</body>

{{>layout/footer}}